<div class="todo-container">
  <div class="todo-header">
    <h1>{{ 'TODO.LIST.TITLE' | translate }}</h1>
  </div>

  <mat-button-toggle-group
    [value]="currentFilter"
    (change)="setFilter($event.value)"
    class="filter-group">
    @for (filter of filterTypes; track filter) {
      <mat-button-toggle [value]="filter">
        {{ 'TODO.FILTERS.' + filter.toUpperCase() | translate }}
      </mat-button-toggle>
    }
  </mat-button-toggle-group>

  <div class="todo-list">
    @if ((todos$ | async)?.length) {
      @for (todo of todos$ | async; track todo.id) {
        <app-todo-item
          [todo]="todo"
          (toggleComplete)="onToggleComplete($event)"
          (deleteTodo)="onDeleteTodo($event)"
        />
      }
      } 
  </div>
</div>