<mat-dialog-content>
  <div class="dialog-content">
    <h2 mat-dialog-title>{{ 'TODO.DELETE_DIALOG.TITLE' | translate }}</h2>
    <p class="todo-title">"{{ data.todoTitle }}"</p>
    <p class="warning-text">{{ 'TODO.DELETE_DIALOG.WARNING' | translate }}</p>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-stroked-button (click)="onCancel()">
    {{ 'TODO.DELETE_DIALOG.CANCEL' | translate }}
  </button>
  <button mat-flat-button color="warn" (click)="onConfirm()">
    {{ 'TODO.DELETE_DIALOG.CONFIRM' | translate }}
  </button>
</mat-dialog-actions>